:root {
  --bg-clr: #fff;
  --font-clr: #000;

  --google-red: #ea4335;
  --google-blue: #4285f4;
  --google-green: #34a853;
  --google-yellow: #f9ab00;

}

[data-theme="dark"] {
  --bg-clr: #000;
  --font-clr: #fff;
}

body {
  background-color: var(--bg-clr);
  color: var(--font-clr);
  overflow-x: hidden;
}



.btn {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--google-blue);
  border: 2px solid var(--font-clr);
  color: var(--bg-clr);
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: var(--google-green);
  color: var(--bg-clr);
}